# Ignorar arquivos binários
*.dll
*.exe
*.pdb
*.log
*.zip
*.swp
*.suo
*.user
*.sln.docstates
*_i.c
*_p.c
*.ilk
*.aps
*.nupkg
*.nuspec

# Ignorar pastas geradas pelo .NET
bin/
obj/

# Ignorar arquivos de compilação VB.NET
*.vbw
*.vspscc

# Ignorar a pasta 'vs/' (se necessário)
vs/
