# Ignorar arquivos binários
*.dll
*.exe

# Ignorar a pasta obj/
obj/

# Ignorar a pasta bin/
bin/

# Ignorar pastas e arquivos gerados pelo .NET
bin/
obj/

# Ignorar arquivos de compilação C#
*.dll
*.exe
*.pdb
*.log
*.zip
*.swp
*.suo
*.user
*.sln.docstates
*_i.c
*_p.c
*.ilk
*.aps
*.nupkg
*.nuspec

# Ignorar arquivos de compilação VB.NET
*.vbw
*.vspscc

# ignorar pastas

vs
ConsoleApp1/FileContentIndex
ProjectEvaluation
stringbuilder-project/v17
